.container {
  display: flex;
  margin-bottom: 0px;
  flex-direction: row;
}

.container li {
  color: var(--dark-343a40);
  text-align: left;
  font: normal normal normal 16px/18px Helvetica Neue;
  letter-spacing: 0px;
  color: #343a40;
  opacity: 1;
  list-style: none;
  margin: 1rem;
  text-decoration: none;
}
.container ul li Link {
  text-decoration: none;
}

.boxAccount,
.boxBasket {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-343a40);
  text-align: left;
  font: normal normal normal 16px/18px Helvetica Neue;
  letter-spacing: 0px;
  color: #343a40;
  opacity: 1;
  margin-right: 18px;
  margin-left: 18px;
}
.gelatoLogo {
  width: 120px;
  height: 75px;
}
.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 8px;
}
.rightContainer {
  display: flex;
  flex-direction: row;
}
.leftContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.tabletView {
  display: none;
}

@media (max-width: 500px) {
  .container {
    display: none;
  }
  .boxAccount {
    display: none;
  }
  .tabletView {
    display: flex;
  }
  #contentNav ul {
    margin-right: 50px;
  }
}

@media (min-width: 500px) and (max-width: 876px) {
  .container {
    display: none;
  }
  .tabletView {
    display: flex;
  }
  #basketNav {
    display: none;
  }
  #accountNav {
    display: none;
  }
  #contentNav ul {
    border: 0px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.burgerMenu {
  left: 0px;
  top: 0px;
  height: 100vh;
  background: no-repeat;
  z-index: 2;
  position: absolute;
  background-color: #fff;
  color: black;
  display: flex;
  border: 1px solid #e2e6ea;
  width: 319px;
  flex-direction: column;
  animation-name: popIn;
  animation-duration: 0.5s;
}

.menu {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #e2e6ea;
  margin-left: 17px;
  margin-right: 17px;
  width: 275px;
  padding-bottom: 15px;
  letter-spacing: -1.5px;
  color: #343a40;
}

.content ul {
  list-style-type: none;
  margin-top: 40px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  padding-bottom: 50px;
  margin-left: 18px;
  gap: 30px;
  border-bottom: 2px solid #e2e6ea;
}
.content ul li {
  font-weight: 900;
  letter-spacing: -1px;
  font-size: 18px;
  color: #343a40;
}
.closeButton {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 15px;
}

.account {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 30px;
  border-bottom: 2px solid #e2e6ea;
  width: 251px;
  margin-left: 17px;
  letter-spacing: -1px;
  padding-top: -30px;
  margin-top: -20px;
  color: #343a40;
}

.basket {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
  width: 251px;
  margin-left: 17px;
  margin-top: 40px;
  letter-spacing: -1px;
  color: #343a40;
}

#accountNav {
  margin-top: 30px;
}
.darken {
  width: 1000px;
  height: 1000px;
  background-color: black;
  position: absolute;
  z-index: 3;
  opacity: 0.3;
  margin-left: 100%;
  margin-bottom: 30px;
  top: -10px;
}

.iconHover {
  display: none;
}
.boxAccount:hover .iconHover {
  display: block;
}
.boxAccount:hover .iconNormal {
  display: none;
}

.boxAccount:hover {
  color: #0069d9;
}
.boxBasket:hover .iconHover {
  display: block;
}
.boxBasket:hover .iconNormal {
  display: none;
}
.boxBasket:hover {
  color: #0069d9;
}

@keyframes popIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.links {
  text-decoration: none;
  color: #343a40;
  letter-spacing: -0.5px;
}

.links:hover {
  color: #0069d9;
}

.breadcrum {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 30px;
  margin-left: 16px;
  margin-bottom: 30px;
}

.breadcrum .links {
  color: #0069d9;
}
.breadcrum .product {
  color: #868e96;
}

.breadcrum .arrow {
  width: 4.48px;
  height: 7.83px;
}

.imgshowcase {
  width: 50%;
  background-repeat: no-repeat;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 18px;
  margin-right: 16px;
}
.imgshowcaseDesktop {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-grow: 10;
}
.reverse {
  transform: rotate(180deg);
  margin-right: 1px;
}
.normal {
  margin-left: 1px;
}
.contents {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.name {
  margin-left: 17px;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1px;
}
.rating {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.ratingAndReviews {
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 17px;
}
.review {
  color: #868e96;
}
.price {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 17px;
}
.description {
  font-size: 16px;
  margin-left: 17px;
  margin-top: 10px;
  width: 380px;
  height: 55px;
  margin-bottom: 3px;
}
.box1,
.box2,
.box3 {
  width: 38px;
  height: 38px;
  cursor: pointer;
  border: 1px solid #868e96;
}
.box1 {
  border-radius: 10px 0 0 10px;
}
.box3 {
  border-radius: 0 10px 10px 0;
}

.box1,
.box2,
.box3 {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #868e96;
}
.quantityAndBasket {
  margin-top: 30px;
  margin-left: 17px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 380px;
}
.quantity {
  display: flex;
  flex-direction: row;
}
.addBasket {
  width: 242px;
  border-radius: 5px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  left: -1px;
  font-weight: 700;
}
.ingredients,
.alergens,
.share {
  margin-top: 30px;
  margin-left: 17px;
}
.ingredients h1,
.alergens h1,
.share h1 {
  font-size: 16px;
  letter-spacing: -1px;
}

.facebook {
  width: 9.17px;
  height: 16.67px;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.share {
  margin-bottom: 30px;
}
.facebook,
.instagram {
  width: 20px;
  height: 20px;
}
.images {
  width: 89px;
  height: 91px;
}
.mobileTablet {
  display: flex;
  flex-direction: row;
  height: 600px;
}
.otherimages {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-left: 17px;
}
.otherimagesgroup {
  width: 50%;
  display: flex;
  gap: 20px;
}
.imageSlide {
  width: 100%;
  height: 90%;
  flex-grow: 10;
}
.imgshowcase {
  display: none;
}
@media (max-width: 767px) {
  .otherimagesgroup {
    width: 99vw;
  }
  .ingredients {
    width: 80vw;
  }
  .about {
    width: 80%;
  }
  .imgshowcase {
    position: relative;
    z-index: -1;
    width: 100%;
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .otherimagesgroup {
    z-index: 0;

    flex-grow: 10;
  }
  .imageSlide {
    width: 100%;
  }
  .pointers {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
  }
  .rating {
    height: 30px;
  }
  /* .normal{
    margin-right:300px
   } */
  .mobileTablet {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 99vw;
  }
  .otherimages {
    display: none;
  }
  .imgshowcaseDesktop {
    display: none;
  }

  .similarDonuts {
    margin: 0;
  }
  .similarDonuts h1 {
    margin-left: 14px;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 30px;
  }
  .about {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .imgshowcase {
    position: relative;
    flex-grow: 10;
    width: 100%;
  }
  .pointers {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .imageSlide {
    width: 100%;
  }

  .otherimages {
    display: none;
  }

  .rating {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .review {
    font-size: 13px;
    display: flex;
    align-items: center;
  }
  .mobileTablet {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .mobileTablet .about {
    flex-direction: column;
    width: 391px;
    height: 535px;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
  }
  .imgshowcase {
    width: 380px;
    height: 535px;
    display: flex;
    justify-content: center;
  }
  .contents {
    width: 200px;
    margin: 0;
  }
  .description {
    width: 290px;
  }
  .addBasket {
    width: 125px;
  }

  .arrows {
    width: 541px;
    height: 530px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .quantityAndBasket {
    width: 270px;
  }
  .imgshowcaseDesktop {
    display: none;
  }
  .imgshowcase {
    display: flex;
  }
  .description {
    width: 270px;
  }
}
/* style pentru donuts */
#header {
  /* width: 1366px; */
  max-width: 100%;

  height: 260px;
  background-image: url("../../assets/desktopview.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  justify-content: center;
  background-repeat: no-repeat, repeat;
}
#header-content {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 4rem;
  color: white;
  font-size: 1.5rem;
  padding: 2.5rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#topSelling,
.all {
  background-color: white;
  /* text-align:center; */

  position: relative;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
}
.all {
  margin-left: 17px;
  margin-right: 0;
}
#topSelling h2,
h3 {
  /* width: 300px;
    height: 28px; */
  /* font-size: 1.5rem;  */
  text-align: left;
  font-family: Helvetica;
  font-weight: Bold;
}
#topSelling h2 {
  padding: 2rem;
  font-size: 24px;
  padding-left: 0.75rem;
}

.all h2,
h3 {
  /* width: 300px;
    height: 28px; */
  /* font-size: 1.5rem;  */
  text-align: left;
  font-family: Helvetica;
  font-weight: Bold;
}
.all h2 {
  padding: 2rem;
  font-size: 24px;
  padding-left: 0.75rem;
}
#donutsTop {
  overflow-x: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  margin: 0 auto;
  /* max-width: 1600px; */
  /* margin-left: 30px; */
  margin-bottom: 2.5rem;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  height: 388px;
  margin-left: 17px;
  margin-right: 17px;
}
.donutsAll {
  /* max-width: 1200px; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  grid-column-gap: 1em;
  /* grid-gap: 20px 0; */
  margin-left: 0;
  margin-right: 0;
}
.donut {
  transition: all 150ms ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
}
.donut img {
  width: 100%;
}
.donutsAll .donut {
  width: 90%;
  margin-bottom: 10px;
  height: 25rem;
}
#donutsTop .donut {
  margin-right: 17px;
}

.donut p {
  font-size: 1rem;
  padding-top: 5px;
  padding-left: 15px;
}

.Add a {
  text-align: center;
  background-color: #007bff;
  padding: 0;
  display: inline-block;
  line-height: 35px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  color: white;
  border: 1px solid #007bff;
  box-shadow: none;
  margin: 1.25rem;
  width: 125px;
  height: 40px;
}

.donut h3,
h4 {
  padding-left: 20px;
  padding-top: 0;
  margin: 0;
}
.donut h3 {
  margin-top: 15px;
}
/* @media screen and (max-width: 768px) {
  .donutsAll {
    display: flex;
    flex-direction: column;
    flex: 100%;
    margin: 40px;
  }
  .donut {
    margin: 30px;
    width: 380px;
    height: 388px;
  }
  .donut img {
    width: 380px;
    height: 181px;
  }
  .donut p {
    padding: 1.25rem;
  }
} */

@media (max-width: 500px) {
  #donutsTop {
    overflow-x: scroll;

    overflow-y: hidden;
  }
  .donutsAll {
    grid-template-columns: repeat(1, 1fr);
    /* width: 421px; */
    margin: 0 auto;
    display: grid;
    grid-gap: 20px 0;
    margin: 0;
  }
  .donutsAll .donut {
    width: 90%;
    /* margin: 0; */
  }
  .donutsAll .donut .Add a {
    margin: 1.25rem;
  }

  .donutsAll .donut img {
    width: 100%;
    max-height: 181px;
  }
  #gelatoTop {
    overflow-x: scroll;

    overflow-y: hidden;
  }
.gelatoAll {
    grid-template-columns: repeat(1, 1fr);
    
    margin: 0 auto;
    display: grid;
    grid-gap: 20px 0;
    margin: 0;
  }
  .gelatoAll .gelato {
    width:90%;
  }
  .gelatoAll .gelato .Add a {
    margin: 1.25rem;
  }
  /* .gelatoAll .gelato img {
    height: 182px;
  } */
}

@media (min-width: 500px) and (max-width: 876px) {
  #donutsTop, #gelatoTop {
    overflow-x: scroll;

    overflow-y: hidden;
  }

  .donutsAll, .gelatoAll {
    grid-template-columns: repeat(2, 1fr);
    /* max-width: 1200px; */
    margin: 0 auto;
    display: grid;
    grid-gap: 20px 0;
    margin-left: 0;
    margin-right: 0;
  }
  .donutsAll .donut, .gelatoAll .gelato {
    width: 80%;
  }

  .donutsAll .donut .Add a, .gelatoAll .gelato .Add a {
    margin: 1.25rem;
  }

  .donutsAll .donut img , .gelatoAll .gelato img{
    width: 100%;
  }
 
}

/* @media (min-width: 876px) {
  .donutsAll {
    grid-template-columns: repeat(4, 1fr);
  }
} */

/* style pentru gelato */

.gelatoAll {
  grid-template-columns: repeat(2, 1fr);
  /* max-width: 1200px; */
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px 0;
  margin-left: 0;
  margin-right: 0;
}
.gelatoAll .gelato {
 width:90%;
 margin-bottom: 10px;
  height: 25rem;
}

.gelatoAll .gelato .Add a {
  margin: 1.25rem;
}

.gelatoAll .gelato img {
  height: 182px;
}

.gelatoAll {
  grid-gap: 24px 0;
}

@media (min-width: 876px) {
  .donutsAll {
    grid-template-columns: repeat(4, 1fr);
  }

  .gelatoAll {
    grid-template-columns: repeat(4, 1fr);
  }
}

#gelatoTop {
  overflow-x: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  /* margin-left: 30px; */
  margin-bottom: 2.5rem;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  /* width: 1332px; */
  max-width: 100%;
  height: 388px;
  margin-left: 17px;
  margin-right: 17px;
}
.gelatoAll {
  max-width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  display: grid;
  grid-gap: 20px 0;
  margin-left: 0;
  margin-right: 0;
}
.gelato {
  margin-right: 24px;
  width: 315px;
  height: 388px;

  transition: all 150ms ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
}
.gelato img {
  width: 100%;

}
.gelato p {
  font-size: 1rem;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 271px;
  margin: 0;
}

.gelato h3,
h4 {
  padding-left: 20px;
  padding-top: 0;
  margin: 0;
}
.gelato h3 {
  margin-top: 15px;
}
